
  <mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Registrarse</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="example-container">
        <mat-form-field>
          <input matInput (keyup)="onKeyNombre($event)" placeholder="Nombre" [(ngModel)]="Nombre">
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput (keyup)="onKeyMail($event)" placeholder="Email" [(ngModel)]="Mail">
          </mat-form-field>
          <br>
        <mat-form-field>
            <input type="password" matInput (keyup)="onKeyPassword($event)" placeholder="Password" [(ngModel)]="Password">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput (keyup)="onKeyNombreOrganizacion($event)" placeholder="Nombre Organizacion" [(ngModel)]="NombreOrganizacion">
          </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="green" (click)="registrar()">Registrar</button>
    </mat-card-actions>
  </mat-card>